@import '../../../styles/sass/variables';

.Dropdown {
	width: 230px;
	height: auto;
	position: relative;

	.Input {
		width: 100%;
		::selection {
			background-color: transparent;
			color: inherit;
		}

		&--InputBox {
			&:hover {
				cursor: pointer;
			}
			&:disabled {
				cursor: default;
			}
		}
	}

	&--Menu {
		width: inherit;
		position: absolute;
		max-height: 250px;
		overflow-y: auto;
		padding: 1rem 0;
		margin-top: 0.5rem;
		background-color: $color-white-100;
		border-radius: 0px 0px 8px 8px;
		box-shadow:
			0px 9px 28px 8px rgba(0, 0, 0, 0.05),
			0px 6px 16px 0px rgba(0, 0, 0, 0.08),
			0px 3px 6px -4px rgba(0, 0, 0, 0.12);
		transition: 2s;
		z-index: 1000;
		text-transform: capitalize;
	}

	&--Item {
		width: 100%;
		height: 40px;
		padding: 10px 12px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(202, 201, 201, 0.3);

		&:hover {
			cursor: pointer;
		}
	}

	&--Active {
		background-color: $color-grey-200;
	}

	&--Text {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2rem;
		color: $color-primary;
	}

	&--BackDrop {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
	}
	&--Icon {
		width: 16px;
		height: 16px;
		cursor: pointer;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.Dropdown ::-webkit-scrollbar {
	width: 5px;
	height: 7px;
}

.Dropdown ::-webkit-scrollbar-track {
	background-color: $color-grey-400;
	border-radius: 10px;
}

.Dropdown ::-webkit-scrollbar-thumb {
	background: $color-grey-600;
	border-radius: 10px;
}
