/*------------- primary ---------------*/
$color-primary: #000000;

/*------------- black shades ---------------*/

$color-black-100: #231e1e;
$color-black-200: #262626;

/*------------- grey shades ---------------*/

$color-grey-100: #f9f9f9;
$color-grey-200: #f3f3f3;
$color-grey-300: #eaeaea;
$color-grey-400: #dbdbdb;
$color-grey-500: #b7b7b7;
$color-grey-550: #8c8c8c;
$color-grey-600: #979797;
$color-grey-650: #1b1818;
$color-grey-700: #6f6f6f;
$color-grey-750: #5d5c5c;
$color-grey-800: #dfdfdf;
$color-grey-850: #020101;
$color-grey-900: #3d3d3d;
$color-grey-950: #1c1c1c;

/*------------- pink shades ---------------*/

$color-pink-100: #ffedef;
$color-pink-200: #ffd3d5;
$color-pink-300: #f29696;
$color-pink-400: #ee8179;
$color-pink-500: #f96656;
$color-pink-600: #fd5a3b;
$color-pink-700: #f0523b;
$color-pink-800: #eb5742;
$color-pink-850: #d1422f;
$color-pink-900: #c13822;

/*------------- dark red shades ---------------*/

$color-dark-red-100: #ffebee;
$color-dark-red-200: #ffccd1;
$color-dark-red-300: #ff8787;
$color-dark-red-400: #ff6b6b;
$color-dark-red-450: #ff5c5c;
$color-dark-red-500: #ff4142;
$color-dark-red-600: #f85d56;
$color-dark-red-700: #ff1d25;
$color-dark-red-800: #ee061f;
$color-dark-red-850: #e00017;
$color-dark-red-900: #d00007;

/*------------- blue shades ---------------*/
$color-blue-100: #e1f1fc;
$color-blue-200: #b7dbf9;
$color-blue-300: #89c5f5;
$color-blue-400: #2b9def;
$color-blue-500: #008dec;
$color-blue-600: #0080df;
$color-blue-700: #006ecc;
$color-blue-800: #005dba;
$color-blue-900: #00409b;

/*------------- orange shades ---------------*/
$color-orange-100: #faebe8;
$color-orange-200: #fed0c0;
$color-orange-300: #feb298;
$color-orange-400: #ff946e;
$color-orange-500: #f98e6d;
$color-orange-600: #ff6830;
$color-orange-700: #f4622c;
$color-orange-800: #e65b27;
$color-orange-850: #d85424;
$color-orange-900: #bf471c;

/*------------- green shades ---------------*/

$color-green-100: #edf9e6;
$color-green-200: #d2efc2;
$color-green-300: #b4e49a;
$color-green-400: #93d96f;
$color-green-500: #78d14c;
$color-green-600: #5dc823;
$color-green-700: #4db81b;
$color-green-750: #389e0d;
$color-green-800: #33a40e;
$color-green-850: #0f9000;
$color-green-900: #006e00;

/*------------- red shades ---------------*/

$color-red-100: #ffe9ed;
$color-red-200: #ffc9cf;
$color-red-300: #f49293;
$color-red-400: #eb6669;
$color-red-500: #f43e43;
$color-red-600: #f92125;
$color-red-700: #ea0d25;
$color-red-800: #d90020;
$color-red-850: #cc0018;
$color-red-900: #be0008;

/*------------- yellow shades ---------------*/

$color-yellow-100: #fef7e1;
$color-yellow-200: #feeab3;
$color-yellow-300: #fddc82;
$color-yellow-400: #fbd051;
$color-yellow-500: #fbc42e;
$color-yellow-600: #f9ba18;
$color-yellow-700: #f9ad13;
$color-yellow-800: #f89a12;
$color-yellow-850: #f88a12;
$color-yellow-900: #f66b11;

/*------------- disabled ---------------*/

$color-disabled: #ff9a9a;

/*------------- white shades ---------------*/

$color-white-100: #ffffff;

// z-index
$zIndex-header: 10000000;
$zIndex-Modal: 1000000000;
