.ResidentsDisplay {
	&--HeaderTitle {
		color: black;
		font-size: 3rem;

		font-weight: 700;
	}
	&--Container {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		padding: 40px;
	}
	&--Header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 24px;
	}
	&--Footer {
		display: flex;
		padding: 5px;
		justify-content: end;
		align-items: center;
	}
}
