.scroll {
	overflow-y: auto;
	background: #f9fcff;
}

.container {
	max-width: 1400px;
	margin: auto;
}

.grid-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	flex: 1 0 300px;
	margin: 15px;
	background: #fff;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
	transition: transform 0.3s ease;
}

.card:hover {
	transform: translateY(-5px);
}

.card-body {
	margin-bottom: 15px;
}

.card-footer {
	display: flex;
	justify-content: flex-end;
}

a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ffd854;
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
}

@media (max-width: 992px) {
	.card {
		flex: 1 0 100%;
	}
}
